<p>residences works!</p>
<table><thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let residence of listResidences">
       
    <td> <img [src]="residence.image" alt="Image de Residence" height="300" [width]="350"></td>
        <td>{{residence.name}}</td>
        <td>{{residence.address}}</td>
        <td><button (click)="showApartments(residence.id)">Show apartments</button></td>
       <td> <a [routerLink]="['/residences/',residence.id]"> details</a></td>
    
 </tr>
</tbody></table>
<div [hidden]="hide">
    <table>
        <h2>Liste des Appartements </h2>
        <input type="text" name ="searchSurface" [(ngModel)]="searchText">
        <button (click)="filterBySurface()">search</button>

        <thead>
            <tr> <th>Numero</th>
                <th>Surface</th>
                <th>Terrace</th>
                <th>floorNum</th>
                <th>category</th>
                <th>description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           
            <tr *ngFor="let Apartment of listApartByResidence ">
             <td>{{Apartment.appartNum}}</td>
                <td>{{Apartment.surface}}</td>
                <td>{{Apartment.terrace}}</td>
                <td>{{Apartment.category}}</td>
                <td>{{Apartment.description}}</td> 
                <td>{{Apartment.floorNum}}</td>
                <td><button (click)="likeapartment(Apartment)">Like</button></td>
                <!--  router pour naviguer vers la page de détails avec l'ID de l'appartement -->
                <td><button [routerLink]="['/appartement', Apartment.appartNum]">Details</button></td>
            
         </tr>
        </tbody>
    </table>
</div>
